-
  const menuList = [
    {
      name: 'Выпадающее',
      href: '/',
      goto: '',
      submenu: [
        {
          name: 'sub 1',
          href: '#',
          goto: 'false',
        },
        {
          name: 'sub 2',
          href: '#',
          goto: 'false',
        },
        {
          name: 'sub 3',
          href: '#',
          goto: 'false',
        },
      ],
    },
    {
      name: 'Главная',
      href: '/',
      goto: ''
    },
    {
      name: 'Транспортная логистика',
      href: './transport-logistics.html',
      goto: ''
    },
    {
      name: 'Складская логистика',
      href: './cargo-handling.html',
      goto: ''
    },
    {
      name: 'Таможенное оформление',
      href: './transport-logistics.html',
      goto: ''
    },
    {
      name: 'О компании',
      href: './documents.html',
      goto: ''
    },
    {
      name: 'Контакти',
      href: './contacts.html',
      goto: ''
    },
  ];


header.header
  ._container
    .header__wrapper
      a.logo-link.header__logo(href='./index.html') 
        img(
          src=require('@/assets/img/logo.svg'),
          alt='logo',
          draggable='false'
        )

      nav.menu.header__menu
        ul.menu-list
          each item in menuList
            li.menu-list__item(
              class=`${item.submenu && item.submenu.length !== 0 ? 'additional' : ''}`,
              data-submenu=`${item.submenu && item.submenu.length !== 0 ? 'true' : 'false'}`
            )
              a.menu__link(href=`${item.href}`) #{ item.name }

              if item.submenu && item.submenu.length !== 0
                button.menu-submenu-open
                  <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.05361 2.93771L1.46436 3.52697L4.99989 7.0625L8.53542 3.52697L7.94617 2.93771L4.99989 5.88399L2.05361 2.93771Z" fill="currentColor"/>
                  </svg>

                .menu-submenu
                  ul.menu-submenu-list
                    each subItem in item.submenu
                      li
                        a.menu-submenu__link(href=`${subItem.href}`) #{ subItem.name }

      .header__buttons
        a.header__phone(href='tel:+48 58 351 39 14')
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="18" height="18" rx="9" fill="#0DC143"/>
            <path d="M13.0314 4.95431C12.0666 3.96106 10.7328 3.42188 9.3706 3.42188C6.47601 3.42188 4.14898 5.77728 4.17736 8.6435C4.17736 9.5516 4.43277 10.4313 4.85844 11.2259L4.12061 13.9219L6.87331 13.2124C7.63952 13.6381 8.49087 13.8367 9.34223 13.8367C12.2084 13.8367 14.5355 11.4813 14.5355 8.61512C14.5355 7.22458 13.9963 5.91917 13.0314 4.95431ZM9.3706 12.957C8.60439 12.957 7.83817 12.7584 7.18547 12.3611L7.0152 12.2759L5.36925 12.7016L5.79493 11.084L5.68142 10.9138C4.43277 8.8989 5.02871 6.23133 7.07196 4.98269C9.1152 3.73404 11.7544 4.32998 13.003 6.37323C14.2517 8.41647 13.6557 11.0557 11.6125 12.3043C10.9598 12.73 10.1652 12.957 9.3706 12.957ZM11.8679 9.80701L11.5557 9.66512C11.5557 9.66512 11.1017 9.46647 10.8179 9.32458C10.7895 9.32458 10.7611 9.2962 10.7328 9.2962C10.6476 9.2962 10.5909 9.32458 10.5341 9.35296C10.5341 9.35296 10.5057 9.38133 10.1084 9.83539C10.0801 9.89215 10.0233 9.92052 9.96655 9.92052H9.93817C9.90979 9.92052 9.85304 9.89215 9.82466 9.86377L9.68277 9.80701C9.3706 9.66512 9.08682 9.49485 8.85979 9.26782C8.80304 9.21106 8.7179 9.15431 8.66115 9.09755C8.4625 8.8989 8.26385 8.67187 8.12196 8.41647L8.09358 8.35971C8.0652 8.33133 8.0652 8.30296 8.03682 8.2462C8.03682 8.18944 8.03682 8.13269 8.0652 8.10431C8.0652 8.10431 8.17871 7.96242 8.26385 7.87728C8.3206 7.82052 8.34898 7.73539 8.40574 7.67863C8.4625 7.5935 8.49087 7.47998 8.4625 7.39485C8.43412 7.25296 8.09358 6.48674 8.00844 6.31647C7.95169 6.23133 7.89493 6.20296 7.80979 6.17458H7.72466C7.6679 6.17458 7.58277 6.17458 7.49763 6.17458C7.44088 6.17458 7.38412 6.20296 7.32736 6.20296L7.29898 6.23133C7.24223 6.25971 7.18547 6.31647 7.12871 6.34485C7.07196 6.4016 7.04358 6.45836 6.98682 6.51512C6.78817 6.77052 6.67466 7.08269 6.67466 7.39485C6.67466 7.62187 6.73142 7.8489 6.81655 8.04755L6.84493 8.13269C7.10033 8.67187 7.44088 9.15431 7.89493 9.57998L8.00844 9.6935C8.09358 9.77863 8.17871 9.83539 8.23547 9.92052C8.83142 10.4313 9.5125 10.8003 10.2787 10.9989C10.3638 11.0273 10.4774 11.0273 10.5625 11.0557C10.6476 11.0557 10.7611 11.0557 10.8463 11.0557C10.9882 11.0557 11.1584 10.9989 11.272 10.9421C11.3571 10.8854 11.4138 10.8854 11.4706 10.8286L11.5274 10.7719C11.5841 10.7151 11.6409 10.6867 11.6976 10.63C11.7544 10.5732 11.8111 10.5165 11.8395 10.4597C11.8963 10.3462 11.9247 10.2043 11.953 10.0624C11.953 10.0057 11.953 9.92052 11.953 9.86377C11.953 9.86377 11.9247 9.83539 11.8679 9.80701Z" fill="white"/>
          </svg>
          span +48 58 351 39 14

        ul.menu__lang.desktop
          li
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_972_396)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.73565 8.15625H4.81049C4.97274 5.82285 5.78426 3.9305 6.58899 2.58928C6.72198 2.36763 6.85504 2.16056 6.98535 1.96855C4.18785 2.76859 2.0761 5.19301 1.73565 8.15625ZM4.8105 9.84375H1.73565C2.0761 12.807 4.1879 15.2315 6.98545 16.0315C6.85512 15.8394 6.72201 15.6323 6.58899 15.4106C5.78427 14.0694 4.97276 12.1771 4.8105 9.84375ZM6.50279 9.84375H11.4972C11.3391 11.7962 10.6548 13.391 9.96399 14.5424C9.61946 15.1166 9.27561 15.5764 9 15.91C8.72439 15.5764 8.38054 15.1166 8.03601 14.5424C7.34519 13.391 6.66089 11.7962 6.50279 9.84375ZM11.4973 8.15625H6.50278C6.66087 6.20377 7.34518 4.60887 8.03601 3.45748C8.38054 2.88327 8.72439 2.42342 9 2.08991C9.27561 2.42342 9.61946 2.88327 9.96399 3.45748C10.6548 4.60887 11.3391 6.20377 11.4973 8.15625ZM13.1895 9.84375C13.0273 12.1771 12.2157 14.0694 11.411 15.4106C11.278 15.6323 11.1449 15.8394 11.0145 16.0315C13.8121 15.2315 15.9239 12.807 16.2644 9.84375H13.1895ZM16.2644 8.15625H13.1895C13.0273 5.82285 12.2157 3.9305 11.411 2.58928C11.278 2.36763 11.1449 2.16056 11.0147 1.96854C13.8122 2.76858 15.9239 5.19301 16.2644 8.15625ZM9 0C4.02943 0 0 4.02943 0 9C0 13.9706 4.02943 18 9 18C13.9706 18 18 13.9706 18 9C18 4.02943 13.9706 0 9 0Z" fill="#193A6D"/>
              </g>
              <defs>
              <clipPath id="clip0_972_396">
              <rect width="18" height="18" fill="white"/>
              </clipPath>
              </defs>
            </svg>

            span.lang-item.lang-item-current ru
              img(
                src=require('@/assets/img/arrow-down.svg'),
                alt='language toggle'
              )

            ul
              li.lang-item.lang-item-1.lang-item-en.lang-item-first
                a(lang='rus-RU', hreflang='rus-RU', href='#1') ua

        button.menu-burger.popup-open(data-popup='_popup-menu')
          span

  include @/layout/popup.pug
