-
section.about-service
  ._container
    .about-service__wrapper
      .about-service__info
        .about-service__col
          h2.about-service__title!= 'Транспортная логистика от компании <strong><span>EAG</span>LINE</strong>'
          .about-service__adv
            img(src=require('@/assets/img/statistics/statistics-3.svg'), alt="Транспортная логистика")
            span='Внутренняя и международная логистика и экспедирование'

         
        .about-service__col
          p.about-service__text.text-with-before!= 'Перевозка и обработка грузов в портах и аэропортах по всему миру. <br/>Контейнерные перевозки на импорт, экспорт и транзит с частичной и полной загрузкой. Собственная площадка, транспорт и оборудование для стандартных, нестандартных и негабаритных грузов.'

          div.about-service__content
            p!= 'Внутренняя и международная транспортная логистика — главный вектор деятельности нашей компании. Наши специалисты подбирают несколько направлений для перевозки грузов и делают подробный расчет, чтобы выбрать самый быстрый и выгодный вариант. После согласования резервируем место на судне или самолете, подбираем транспорт из нашего собственного автопарка.'
            p!= 'Мы можем организовать унимодальные и мультимодальные контейнерные и тент перевозки по всему миру. Большая часть грузов, которые обрабатывает EAGLINE — товары, предназначенные для Европейского союза, СНГ, Украины и стран Восточной Европы, включая Румынию и Турцию.'