-
section.about-service.about-service-inner
  ._container
    .about-service__wrapper
      .about-service__info
        .about-service__col
          h2.about-service__title!= 'Обработка особых и негабаритных грузов от компании <strong><span>EAG</span>LINE</strong>'
        
        .about-service__col
          p.about-service__text.text-with-before!= 'Грузы, не помещающиеся в стандартных кузовах и контейнерах, относятся к негабаритным. В число особых грузов входят жидкости в герметичных цистернах или флекси-танках, а также хрупкие товары. Для их обработки у нас есть собственная площадка со специальным оборудованием, а также все разрешительные документы. Работаем с тяжеловесным и «делимым» грузом, обеспечивая надлежащие условия на складе. '

          div.about-service__content
            p!= 'Крупногабаритный и особый груз нуждается в особом подходе, т.к. является самым трудоемким для перевозки и перевалки. Для него требуется максимально правильное заполнение таможенных документов — с этим разберемся наше собственное таможенное агентство. '

          .about-service__adv
            img(src=require('@/assets/img/statistics/statistics-3.svg'), alt="Транспортная логистика")
            span='Разгрузка, размещение без риска, хранение под контролем'