section.banner(data-animate='clip-path')
  .banner-slider.swiper
    .swiper-wrapper
      .swiper-slide
        .banner-bg
          .banner-bg__media
            img.desktop(src=require('@/assets/img/banner.jpg'), alt='banner')

        ._container.banner__container
          .banner__wrapper
            .banner-slider__item
              h1.banner__title!= 'Оперативная логистика в <strong>ЕВРОПЕ</strong>'

              p.banner__subtitle.text-with-before!= 'Без промедлений и бюрократии. </br>Работаем индивидуально с каждым, оперативно и профессионально, держим постоянный контакт с клиентом.'

      .swiper-slide
        .banner-bg
          .banner-bg__media
            img.desktop(src=require('@/assets/img/banner.jpg'), alt='banner')

        ._container.banner__container
          .banner__wrapper
            .banner-slider__item
              h1.banner__title!= 'Оперативная логистика в <strong>ЕВРОПЕ</strong>'

              p.banner__subtitle.text-with-before!= 'Без промедлений и бюрократии. </br>Работаем индивидуально с каждым, оперативно и профессионально, держим постоянный контакт с клиентом.'
     
      .swiper-slide
        .banner-bg
          .banner-bg__media
            img.desktop(src=require('@/assets/img/banner.jpg'), alt='banner')

        ._container.banner__container
          .banner__wrapper
            .banner-slider__item
              h1.banner__title!= 'Оперативная логистика в <strong>ЕВРОПЕ</strong>'

              p.banner__subtitle.text-with-before!= 'Без промедлений и бюрократии. </br>Работаем индивидуально с каждым, оперативно и профессионально, держим постоянный контакт с клиентом.'

  .banner-slider-controls
    .banner-slider-pagination pagination
