-
  const breadcrumbsName = 'Новини';

  const classTypography = 'news-article__typography'

  const typography = [
    {
      type: 'text',
      data: `
        <p>
          У липні-серпні 2023 року менеджери Persona Patman провели серію зустрічей з компаніями-членами Латвійської торгово-промислової палати, які відчувають гостру потребу в кваліфікованій робочій силі (“синіх комірцях”). Більшість компаній висловили зацікавленість до співпраці з Persona Patman з метою вирішення потреб в заповненні вакансій і забезпеченні стабільній роботі виробництв на своїх підприємствах.
        </p>
        <br/>
        <p>
          З іншого боку, до нас звертаються компанії проконсультувати щодо легального працевлаштування їх працівників-іноземців чи допомогти адаптуватись їх працівникам в новій країні.
        </p>
        <br/>
        <p>
          Тут ми розповідаємо про нові pro bono проекти, які ми реалуємо безкоштовно або за кошти донорів чи меценатів, щоб допомогти мігрантам вирішити їх нагальні проблеми в приймаючій країні.
        </p>
      `
    },
    //- {
    //-   type: 'text',
    //-   data: `
    //-     <p>
    //-       Our client engaged us to obtain lawful permanent residence for its new CEO, not only to ensure the stability of the company, but also to enable his spouse to legally work as soon as possible. The most common route for obtaining a green card requires advertising the job in a variety of channels, including the job title, requirements and company name. However, it would have caused instability among the company’s staff, customers and investors if they saw that the company was recruiting a new CEO. We needed to come up with a solution that was more discreet.
    //-     </p>
    //-   `
    //- },
    //- {
    //-   type: 'image',
    //-   data: '@/assets/img/news/typography-1.jpg'
    //- },
    //- {
    //-   type: 'text',
    //-   data: `
    //-     <p>
    //-       Our client engaged us to obtain lawful permanent residence for its new CEO, not only to ensure the stability of the company, but also to enable his spouse to legally work as soon as possible. The most common route for obtaining a green card requires advertising the job in a variety of channels, including the job title, requirements and company name. However, it would have caused instability among the company’s staff, customers and investors if they saw that the company was recruiting a new CEO. We needed to come up with a solution that was more discreet.
    //-     </p>
    //-   `
    //- }
  ];

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Persona Patman - Persona Patman провела зустріч з компаніями-членами Латвійської торгово-промислової палати з метою обговорення потреб латвійських компаній в рекрутингових послугах

    link(rel='stylesheet', href=require('@/styles/pages/news-article.scss'))

  body
    include @/layout/header.pug

    include @/templates/breadcrumbs.pug

    section.news-article
      ._container.news-article__container
        .news-article__wrapper
          .news-article__media
            img(
              src=require('@/assets/img/news/article-banner.jpg'),
              alt='article-banner',
              loading='lazy'
            )

          .date.news-article-date
            .date__label
              img(src=require('@/assets/img/date.svg'), alt='date')

            time.date__value(datatime='2023-07-22') 22.07.2023

          h1.news-article__title Persona Patman провела зустріч з компаніями-членами Латвійської торгово-промислової палати з метою обговорення потреб латвійських компаній в рекрутингових послугах

    include @/layout/typography.pug

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
