-
  const innerBanner = {
    image: '@/assets/img/pro-bono/inner-banner.jpg',
    title: 'Pro Bono',
    specialClass: 'pro-bono__banner'
  };

  const breadcrumbsName = 'Pro Bono';

  const typographyList = [
    {
      content: [
        {
          type: 'text',
          data: `
            <p>
              З одного боку, для людини процес міграції може бути незапланованим, а також болючим. Persona Patman часто отримує запити від мігрантів допомогти відновини паспортні документи чи навіть знайти роботу.
            </p>
            <br/>
            <p>
              З іншого боку, до нас звертаються компанії проконсультувати щодо легального працевлаштування їх працівників-іноземців чи допомогти адаптуватись їх працівникам в новій країні.
            </p>
            <br/>
            <p>
              Тут ми розповідаємо про нові pro bono проекти, які ми реалуємо безкоштовно або за кошти донорів чи меценатів, щоб допомогти мігрантам вирішити їх нагальні проблеми в приймаючій країні.
            </p>
            <br/>
            <p>
              <i>
                У 2022-2023 роках команда Persona Patman найбільше уваги приділяє супроводженню соціальних проектів, пов’язаних зокрема із отриманням закордонних паспортів та реєстраційних номерів облікової картки платника податків (раніше ІПН) для громадян України, які знаходилися у зонах бойових дій та змушені були виїхати за кордон після повномасштабного вторгнення росії. 
              </i>
            </p>
          `
        },
      ]
    },
    {
      date: {
        data: '2023-07-22',
        value: '22.07.2023',
      },
      content: [
        {
          type: 'image',
          data: '@/assets/img/pro-bono/typography-1.jpg'
        },
        {
          type: 'text',
          data: `
            <p>
              Persona Patman допомогла з отриманням закордонних паспортів України людям похилого віку, які проживали у Луганській, Херсонській і Харківській областях, та змушені були виїхати за кордон після повномасштабного вторгнення росії.
            </p>
          `
        },
      ]
    },
    {
      date: {
        data: '2023-07-22',
        value: '22.07.2023',
      },
      content: [
        {
          type: 'image',
          data: '@/assets/img/pro-bono/typography-2.jpg'
        },
        {
          type: 'text',
          data: `
            <p>
              Persona Patman допомогла з отриманням реєстраційного номера облікової картки платника податків дитині (Херсонська область), яка у зв’язку з воєнними діями в Україні виїхала разом з батьками до Туреччини.
            </p>
          `
        },
      ]
    },
    {
      date: {
        data: '2023-07-22',
        value: '22.07.2023',
      },
      content: [
        {
          type: 'image',
          data: '@/assets/img/pro-bono/typography-1.jpg'
        },
        {
          type: 'text',
          data: `
            <p>
              Persona Patman допомогла з отриманням паспортів громадянина України дітям (Луганська область),
              батьки яких на початку лютого 2022 року подали заяви для отримання таких
              паспортів та змушені були переїхати до Грузії у зв’язку із повномасштабним
              вторгненням росії. Питання було ускладнене наступним – розгляд поданих заяв був
              призупинений у зв’язку із тимчасовою окупацією населених пунктів Луганської
              області, де проживали діти, а нові заяви для отримання паспортів не приймали
              через наявність на розгляді заяв від початку лютого 2022 року.
            </p>
          `
        },
      ]
    },
    {
      date: {
        data: '2023-07-22',
        value: '22.07.2023',
      },
      content: [
        {
          type: 'image',
          data: '@/assets/img/pro-bono/typography-2.jpg'
        },
        {
          type: 'text',
          data: `
            <p>
              Persona Patman допомогла з отриманням паспорта громадянина України (ID – картка) та
              закордонного паспорта особі молодше 16 років (Донецька область), яка у зв’язку з
              воєнними діями в Україні виїхала разом з батьками до Туреччини.
            </p>
          `
        },
      ]
    },
    {
      date: {
        data: '2023-07-22',
        value: '22.07.2023',
      },
      content: [
        {
          type: 'image',
          data: '@/assets/img/pro-bono/typography-1.jpg'
        },
        {
          type: 'text',
          data: `
            <p>
              Persona Patman допомогла з отриманням нових закордонних паспортів (у зв’язку із закінченням
              строку дії паспортів) громадянам України, які у зв’язку з воєнними діями в Україні
              переїхали до Грузії та Туреччини.
            </p>
          `
        },
      ]
    },
    {
      date: {
        data: '2023-07-22',
        value: '22.07.2023',
      },
      content: [
        {
          type: 'image',
          data: '@/assets/img/pro-bono/typography-2.jpg'
        },
        {
          type: 'text',
          data: `
            <p>
              Persona Patman допомогла з отриманням посвідчень особи на повернення в Україну громадянам
              України (Луганська та Харківська області), які після початку військової агресії росії
              виїхали до Туреччини та прийняли рішення повернутися в Україну.
            </p>
          `
        }
      ]
    },
  ];

doctype html
html(lang='en')
  head
    include @/layout/head.pug

    title Persona Patman - Допомога Pro Bono

    link(rel='stylesheet', href=require('@/styles/pages/pro-bono.scss'))

  body
    include @/layout/header.pug

    include @/templates/breadcrumbs.pug

    include @/templates/banner-inner.pug

    ul.pro-bono-list
      each item in typographyList
        li
          article.typography-article.pro-bono__typography
            ._container.typography-article__container
              .typography-article__wrapper
                if item.date
                  .date.pro-bono-date
                    .date__label
                      img(src=require('@/assets/img/date.svg'), alt='date')

                    time.date__value(datatime=`${item.date.data}`)= item.date.value

                .typography
                  each typography in item.content 
                    case typography.type 
                      when 'image'
                        figure
                          img(
                            src=require(`${typography.data}`),
                            alt='typography',
                            loading='lazy'
                          )

                      when 'text'
                        != typography.data

    include @/layout/footer.pug

    //- script(src=require('@/scripts/video.ts')) 
    script(src=require('../index.ts')) 
