-
  const menuPopupList = [
    {
      name: 'Выпадающее',
      href: '/',
      goto: '',
      submenu: [
        {
          name: 'sub 1',
          href: '#',
          goto: 'false',
        },
        {
          name: 'sub 2',
          href: '#',
          goto: 'false',
        },
        {
          name: 'sub 3',
          href: '#',
          goto: 'false',
        },
      ],
    },
    {
      name: 'Главная',
      href: '/',
      goto: ''
    },
    {
      name: 'Транспортная логистика',
      href: './transport-logistics.html',
      goto: ''
    },
    {
      name: 'Складская логистика',
      href: './cargo-handling.html',
      goto: ''
    },
    {
      name: 'Таможенное оформление',
      href: './transport-logistics.html',
      goto: ''
    },
    {
      name: 'О компании',
      href: './documents.html',
      goto: ''
    },
    {
      name: 'Контакти',
      href: './contacts.html',
      goto: ''
    },
  ];

button.popup__close
  img(src=require('@/assets/img/popup-close-black.svg'), alt='close')

nav.menu
  ul.menu-list.accordion(data-is-label-click='true')
    each item in menuPopupList
      li.menu-list__item(
        class=`${item.submenu && item.submenu.length !== 0 ? 'accordion__item' : ''}`
      )
        .menu-list__item__header
          a.menu__link(href=`${item.href}`) #{ item.name }

          if item.submenu && item.submenu.length !== 0
            button.accordion__label

        if item.submenu && item.submenu.length !== 0
          .accordion__details
            ul.menu-submenu-list.accordion__description
              each subItem in item.submenu
                li
                  a.menu-submenu__link(href=`${subItem.href}`) #{ subItem.name }

ul.menu__lang.popup-menu-lang
  li
    p.lang-item.lang-item-current укр
  li
    a.lang-item(href='#') eng
